version: '{build}'
skip_tags: true
image:
  - Visual Studio 2019
  - Ubuntu1804
configuration: Release
test: false
install:
  - ps: ./setup.ps1
build_script:
  - ps: dotnet --info
  - ps: dotnet --list-sdks
  - ps: ./build.ps1
for:
-
  matrix:
    only:
      - image: Ubuntu1804
  install:
  - sh setup.sh
  build_script:
  - dotnet --info
  - dotnet --list-sdks
  - pwsh -v
  - sh build.sh
artifacts:
- path: artifacts/Kmd.Logic.DocumentGeneration*.nupkg
deploy:
- provider: NuGet
  api_key:
    secure: 8snZ4dWwAtrSwmXUH7OgLtgzDf3o49ZaI/HcZDmum4OBRhZYzEdXeO4+riviOAZS
  skip_symbols: true
  on:
    branch: /^(master|dev)$/
    CI_WINDOWS: true
- provider: GitHub
  auth_token:
    secure: MuVmdAr+7KtBHXNxlwpmIqrQubCmZR575Oo+hBVLySgRYO0YXcXBEdO+piRhjYVU
  artifact: /Kmd.Logic.DocumentGeneration.Client.*\.nupkg/
  tag: v$(appveyor_build_version)
  on:
    branch: master
    CI_WINDOWS: true
